<h2>Second</h2>

<p>Lorem ipsum dolor sit amet, <strong>consectetur adipisicing</strong> elit. Esse, omnis?</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <strong>Esse, omnis?</strong> Lorem ipsum dolor sit amet.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium dolor earum esse? Accusamus aliquid dolorum
    eius<strong>et eum exercitationem laborum magni maxime</strong>nesciunt obcaecati porro possimus quaerat quidem,
    similique totam?</p>

<button class="btn">Button</button>
<button class="btn btn-primary">Button</button>
<button class="btn">Button</button>