<div class="promo-list-li columns small-12 large-6 end"><div class="utexas-promo-field utexas-promo-list">
    <div class="content no_image">
        <h3 class="promo-headline">Housing and Food Service</h3>
        <div class="promo-copy">
            <a href="#">512-471-3136</a>
        </div>
    </div>
    <div class="content no_image">
        <h3 class="promo-headline">Housing and Food Service</h3>
        <div class="promo-copy">
            <a href="#">512-471-3136</a>
        </div>
    </div>
    <div class="content no_image">
        <h3 class="promo-headline">Housing and Food Service</h3>
        <div class="promo-copy">
            <a href="#">512-471-3136</a>
        </div>
    </div>
</div>
</div>