
<div>
    <h1>First</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, deserunt esse et nulla obcaecati
        perspiciatis quae quasi quibusdam recusandae ut.</p>

    <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam earum fuga porro. Aliquid magnam quas
            quibusdam temporibus? Ab aliquid, animi assumenda beatae consequuntur, ducimus iusto laboriosam nisi provident
            repellat sit?
        </li>
        <li>Consequuntur distinctio dolorem doloremque ea et fugiat illum ipsam ipsum iusto magni minima nisi nobis pariatur
            quam quasi, qui quibusdam quis recusandae sed similique sint totam velit, veniam vitae voluptatibus?
        </li>
        <li>Adipisci animi cumque debitis doloribus dolorum ea earum eius, ex hic magni nam quidem quisquam reprehenderit
            repudiandae sed unde velit. Consequatur cum dolorem doloremque iure modi, nostrum sapiente suscipit tempore?
        </li>
        <li>Consequatur harum laudantium quidem tenetur unde! Doloremque facere ipsam tempore tenetur veniam! Alias,
            eligendi ipsum? A explicabo magnam molestiae qui saepe sequi totam veniam! Accusantium delectus ducimus illum
            molestias qui.
        </li>
        <li>Accusantium animi blanditiis, cum dolorem, enim facere ipsam itaque iure nobis odit omnis quibusdam quo
            recusandae reiciendis temporibus vel vitae, voluptatum! Alias harum labore laborum molestiae nesciunt quod
            ratione velit?
        </li>
    </ul>

    <button ui-sref="first.more" ui-sref-active="btn-primary" class="btn">learn more</button>
    <button ui-sref="first.contacts" ui-sref-active="btn-primary" class="btn btn-primary">Contacts</button>
    <button ui-sref="first.address" ui-sref-active="btn-primary" class="btn">Address</button>

    <div ui-view="childView"></div>
</div>
